<app-primeiro-componente></app-primeiro-componente>
<app-segundo-componente></app-segundo-componente>
<app-pipe-customizado></app-pipe-customizado>
<app-two-way-data-binding></app-two-way-data-binding>
<app-renderizando-listas></app-renderizando-listas>
<app-componente-personalizado nome="joao" sobrenome="da silva" ></app-componente-personalizado>
<app-componente-pai></app-componente-pai>
<app-componente-personalizado></app-componente-personalizado>
<app-exemplos-servicos1></app-exemplos-servicos1>

